body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #363636;
  color: #c6a163;
  margin: 0;
  padding-top: 130px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 10px 20px;
  height: 70px;
  border-bottom: 1px solid #c6a163;
}

.logo img{
  height: 100%;
  width: auto;
  object-fit: contain;
  display: block;
}

.menu-icon {
  font-size: 40px;
  cursor: pointer;
  color: #c6a163;
  flex: 0 0 100px;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;

}
.icons {
  display: flex;
  gap: 75px;
  flex: 0 0 100px;
}

.icons a {
  display: flex;
  align-items: center;
  height: 40px;
  margin-left: -50px;
}

.icons a img {
  height: 100%;
  width: auto;
  object-fit: contain;
  display: block;
  transition: transform 0.2s ease;
}
.icons a:hover img {
  transform: scale(1.1);
}

.main-nav {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  background-color: #000000;
  text-align: center;
  padding: 15px;
  z-index: 999;
  border-bottom: 1px solid #c6a163;
}

.main-nav a {
  color: #c6a163;
  text-decoration: none;
  margin: 130px auto 0;
}

.divider1 {
  border: 0.5px solid #c6a163;
  width: 75%;
  margin: auto;
}
.divider {
  border: 0.5px solid #c6a163;
  width: 93%;
  margin-bottom: 30px;
}

.carousel {
  position: relative;
  text-align: center;
  margin: 20px auto;
  width: 75%;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-controls {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.carousel input {
  display: none;
}

.carousel-inner {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.carousel img {
  border-radius: 10px;
}


.slide {
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
}

#slide1:checked ~ .carousel-inner {
  transform: translateX(0%);
}
#slide2:checked ~ .carousel-inner {
  transform: translateX(-100%);
}
#slide3:checked ~ .carousel-inner {
  transform: translateX(-200%);
}
#slide4:checked ~ .carousel-inner {
  transform: translateX(-300%);
}

#slide1:checked ~ .carousel-controls label[for="slide1"],
#slide2:checked ~ .carousel-controls label[for="slide2"],
#slide3:checked ~ .carousel-controls label[for="slide3"],
#slide4:checked ~ .carousel-controls label[for="slide4"]  {
  background-color: #c6a163;
}

.news {
  text-align: center;
  margin: 25px auto;
  width: 80%;
  font-size: 14px;
}
.news h2 {
  padding-top: 10px;
}

.news-list .date {
  display: inline-block;
  width: 350px;
  font-weight: bold;
}
.news-list p {
  text-align: left;
  font-size: 14px;
  margin: 10px 0;
  line-height: 1.6;
  padding-left: 60px;
}

.more {
  text-align: right;
  font-size: 14px;
  color: #c6a163;
  padding-right: 50px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 40px auto;
  width: 80%;
  gap: 10px;
}
.image {
  background-color: #000000;
  width: 50%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c6a163;
  font-weight: bold;
  overflow: hidden;
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.text {
  background-color: #000000;
  color: #c6a163;
  width: 40%;
  padding: 15px;
  font-size: 14px;
  line-height: 1.6;
}
.more2 {
  text-align: right;
  font-size: 14px;
  color: #c6a163;
}

.footer {
  background-color: #000000;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}
.footer-links {
  margin-bottom: 10px;
}
.footer-links a {
  color: #c6a163;
  margin: 0 10px;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}

.news-list p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.more2 a {
  color: inherit;
  text-decoration: none;
}

.more2 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav a.active {
  font-weight: 700;
}

.origin-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 85%;
  margin: 60px auto;
}

.card {
  background-color: #000000;
  border: 1px solid #c6a163;
  width: 250px;
  text-align: center;
  color: #c6a163;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 4px;
  transform-origin: center;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #c6a163;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card h3 {
  font-size: 14px;
  margin: 10px 0 5px;
  font-weight: bold;
}

.card p {
  font-size: 14px;
  padding: 0 10px 15px;
  line-height: 1.6;
}

.menu {
  text-align: center;
  margin: 25px auto;
  width: 80%;
}
.menu h2 {
  border-top: 1px solid #333;
  padding-top: 10px;
}

.menu-list .prise {
  display: inline-block;
  width: 350px;
  font-weight: bold;
}

.menu-list p {
  text-align: right;
  font-size: 14px;
  margin: 10px 0;
  line-height: 1.6;
  padding-left: 85px;
  padding-right: 250px;
}
